name: "deploy to gh-pages"
on:
  push:
    branches:
      - master
jobs:
  ghpages:
    name: Convert and deploy Slide
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
          submodules: true
      - name: Build with pandoc
        uses: maxheld83/pandoc@65a2c5927b84724fe0febcff7db28605d10302d5 # v2.1.0
        with:
          args: "--standalone --self-contained --to=revealjs --slide-level=2 --mathjax -V transition=fade --output=docs/index.html slide.md"
      - name: Deploy gh-pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
